<div class="card">
  <button style="float: right" class="delete is-medium"  (click)="emitSomething()"></button>
  <form class="box">
   

    <img src="{{dataGato.img}}" alt="Avatar">
    <div class="container">
      <h4><b>{{dataGato.titulo}}</b></h4>
      <p>{{dataGato.descripcion}}</p>
      <b></b>

      <div class="field">
        <label class="label">Filtrar</label>
        <div class="control">
          <input class="input" type="Busqueda" placeholder="Escribe">
        </div>
        <button  class="button is-info">Buscar</button>
      </div>
      
      <table class= "table is-bordered is-hoverable" *ngFor = "let x of dataGato.lista">
        <th>Pais</th>
        <th>Aseo</th>
        <th>Salud</th>
        <tr>
          <td>{{x.pais}}</td>
          <td>{{x.aseo}}</td>
          <td>{{x.salud}}</td>
        </tr>
        </table>
        
    </div>
