<div class="card">
  <button style="float: right" class="delete is-medium"  (click)="emitSomething()"></button>
   

    <img src="{{dataGato.img}}" alt="Avatar">
    <div class="container">
      <h4><b>{{dataGato.titulo}}</b></h4>
      <p>{{dataGato.descripcion}}</p>
  

      <div class="field">
        <label class="label">Filtrar</label>
        <div class="control">
          <input class="input" placeholder= "Escribe para filtrar" type="text" #ref />
        <button  class="button is-info" (click)="applyFilter(ref.value)">Buscar</button>
        </div>
      </div>
      
      <table class= "table is-bordered is-hoverable" *ngFor = "let data of dataGato.lista">
        <th>Pais</th>
        <th>Aseo</th>
        <th>Salud</th>
        <tr>
          <td>{{data.pais}}</td>
          <td>{{data.aseo}}</td>
          <td>{{data.salud}}</td>
        </tr>
        </table>
        
    </div>
