<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Razas de gatos
    </p>
    <p class="subtitle">
      Nuestra Biblioteca de razas te ayudará a comprender las características de las distintas razas de gato y a decidir
      cuál podría ser tu mascota ideal. Navega por la historia de todas las razas de gato y por los rasgos de cada
      personalidad más abajo.
    </p>
  </div>
</section>

<section class="section">
  <h1 class="title">Menu</h1>
  <div class="buttons"> 
    <div *ngFor="let dataGato of dataGatos">
    <button class="button is-responsive is-rounded" (click) = "showData(dataGato.titulo)" >{{dataGato.titulo}} </button>
    </div>
  </div> 

<div *ngIf = "visualizarMensaje">
  <app-notificacion [mensaje] = "mensaje"></app-notificacion>
</div>

</section>
<div class="columns">
  <div *ngFor="let dataGato of dataGatos">
    <div class="column" *ngIf="dataGato.renderizar">
      <app-componente1 (emmiter) = "something($event,dataGato.titulo)" (busqueda)="filtro($event)" [dataGato]="dataGato"></app-componente1>
    </div>
  </div>
</div>
