<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Razas de gatos
    </p>
    <p class="subtitle">
      Nuestra Biblioteca de razas te ayudará a comprender las características de las distintas razas de gato y a decidir
      cuál podría ser tu mascota ideal. Navega por la historia de todas las razas de gato y por los rasgos de cada
      personalidad más abajo.
    </p>
  </div>
</section>

<div class="columns">
  <div *ngFor="let dataGato of dataGatos">
    <div class="column">
      <app-componente1 [dataGato]="dataGato"></app-componente1>
    </div>
  </div>
</div>
