
<head>
  <link rel="stylesheet" href="app.component.css" />
</head>
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Razas de gatos
    </p>
    <p class="subtitle">
      Nuestra Biblioteca de razas te ayudará a comprender las características de las distintas razas de gato y a decidir
      cuál podría ser tu mascota ideal. Navega por la historia de todas las razas de gato y por los rasgos de cada
      personalidad más abajo.
    </p>
  </div>
</section>

<div class="div" >
  <nav class="level">
    <p class="level-item has-text-centered">
      <a routerLink="/seccionBosque" class="link is-info">Bosque de Noruega</a>
    </p>
    <p class="level-item has-text-centered">
      <a  routerLink="/seccionFold" class="link is-info">Fold Escoces</a>
    </p>
    <p class="level-item has-text-centered">
      <a  routerLink= "/seccionSphynx" class="link is-info">Sphynix</a>
    </p>
  </nav>
</div>

<section>
  <div *ngIf="visualizarMensaje">
    <app-notificacion [mensaje]="mensaje"></app-notificacion>
  </div>
  <div *ngIf="visualizarMensaje2">
    <app-notificacion [mensaje]="mensaje"></app-notificacion>
  </div>
</section>

<div>
  <router-outlet></router-outlet>
</div>


