<div class="card">
    <img src="/assets/images/Sphynx.png" alt="Avatar">
    <div class="container">
      <h4><b>Sphynx</b></h4>
      <p>Hace generaciones que se conocen gatos sin pelo; se dice que los aztecas tenían gatos sin pelo. El sphynx es el primer gato sin pelo que ha sido criado específicamente por ese rasgo. El programa de reproducción comenzó en 1966 en Ontario, Canadá, cuando una gata doméstica tuvo un gatito macho sin pelo. Sin embargo, la mayoría de los sphynx actuales descienden de tres gatitos sin pelo encontrados en Toronto en 1978.</p>
    </div>
  </div>
